body {
    padding: 15px;
    background-color: lavenderblush;
}

.card {
    position: relative;
    width: 240px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}

.card-link {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.card-footer {
    font-weight: bold;
}

table, tr, td {
    background-color: bisque;
    border: 2px solid black;
    width: 650px;
}

td, th {
    padding: 10px;
    width: auto;
    text-align: center;
}

tr, form {
    vertical-align: top;
    width: auto;
}

.error {
    font-weight: bold;
    color: red;
}

#id_item, #id_starting_bid, #id_description, #id_img_url, #id_category {
    width: 100%;
    border-radius: 5px;
    background-color: lavenderblush;
}

button {
    border-radius: 5px;
    border: 3px solid black;
    height: 60px;
    width: 150px;
    background-color: aquamarine;
    font-weight: bold;
}

img {
    float: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img {
    float: center;
    width: 400px;
    height: 400px;
    object-fit: cover;
}