<div class="container-fluid">
    <div class="row">
    {% for listing in listings %}
        <div class="card">
            <a href="{% url 'listing' listing.id %}" class="card-link"></a>
            <img class="card-img-top" src="{{ listing.img.url }}">
            <div class="card-body">
                <h4 class="card-title">{{ listing.item }}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ listing.category }}</h6>
                <div class="card-text"><p>{{ listing.description }}</p></div>
            </div>
            <div class="card-footer">
                <div>Listing Price: ${{ listing.starting_bid | floatformat:2 }}</div>
                {% if not listing.closed %}
                <div>
                    {% if listing.get_current_bid == 0 %}
                        No bids
                    {% else %}
                        Current Bid: ${{ listing.get_current_bid | floatformat:2 }}
                    {% endif %}
                </div>
                {% else %}
                <div class="error"><i class="error">Sold!</i></div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
