{% extends "auctions/layout.html" %}

{% block body %}
    <form class="create" action="{% url 'create' %}" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td colspan="2">
                    <input type="hidden" name="seller" value="{{ user.id }}">
                    <input type="submit" value="Create Listing">
                </td>
            </tr>
        </table>
{% endblock %}