{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <!-- <table>
        {% for listing in listings %}
        <tr>
            <td><h3><a href="{% url 'listing' listing.id %}">{{ listing.item }}</a></h3></td>
            <td><h5>Listing Price: ${{ listing.starting_bid | floatformat:2 }}</h5></td>
            <td><h5>Current Bid: ${{ listing.current_bid | floatformat:2 }}</h5></td>
        </tr>
        <tr>
            <td><img src="{{ listing.img_url }}"></td>
            <td colspan="2">{{ listing.description }}</td>
        </tr>
        {% endfor %}
    </table> -->
    <div class="container-fluid">
        <div class="row">
        {% for listing in listings %}
        <div class="card" style="width: 240px;">
            <img class="card-img-top" src="{{ listing.img_url }}">
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'listing' listing.id %}">{{ listing.item }}</a></h4>
                <h6 class="card-subtitle mb-2 text-muted">{{ listing.category }}</h6>
                <div><p class="card-text">{{ listing.description }}</p></div>
                <div style="font-weight: bold;">
                    <div>Listing Price: ${{ listing.starting_bid | floatformat:2 }}</div>
                    <div>Current Bid: ${{ listing.current_bid | floatformat:2 }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}