{% extends "auctions/layout.html" %}

{% block body %}
    <table>
        <tr>
            <th colspan="2"><h2>{{ item.item }}</h2></th>
        </tr>
        <tr>
            <th colspan="2"><img class='img' src="{{ item.img_url }}"></th>
        </tr>
        <tr>
            <th>Description: </th>
            <td>{{ item.description }}</td>
        </tr>
        <tr>
            <th>Starting Bid: </th>
            <td>{{ item.starting_bid }}</td>
        </tr>
        <tr>
            <th>Current Bid: </th>
            <td>${{ item.current_bid }}</td>
        </tr>
        <tr>
            <th>Category: </th>
            <td>{{ item.category }}</td>
        </tr>
        <tr>
            <th colspan="2"><button type="button"><b>Add to Watchlist</b></button></th>
        </tr>
    </table>
    <div></div>
    <table>
        <tr>
            <th colspan="2">Comments</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <th>{{ comment.summary }}</th> 
            <th>Author: {{ comment.author }}</th> 
        </tr>
        <tr>
            <td colspan="2">
                {{ comment.body }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}