{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
    <table>
        <tr>
            <th colspan="2"><h2>{{ listing.item }}</h2></th>
        </tr>
        <tr>
            <th colspan="2"><img class='img' src="{{ listing.img.url }}"></th>
        </tr>
        <tr>
            <th>Description: </th>
            <td>{{ listing.description }}</td>
        </tr>
        
        <tr>
            <th>Starting Bid: </th>
            <td>${{ listing.starting_bid | floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Current Bid: </th>
            <td>${{ listing.current_bid | floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Category: </th>
            <td>{{ listing.category }}</td>
        </tr>

        {% if not seller %}
        <form id="watch" method="POST" action="{% url 'listing' listing.id %}">{% csrf_token %}

            {% if watched %}
            <tr>
                <th colspan="2"><button type="submit" name="button" form="watch" value="Watchlist">Remove from Watchlist</button></th>
            </tr>
            {% else %}
            <tr>
                <th colspan="2">
                    <button type="submit" name="button" form="watch" value="Watchlist">Add to Watchlist</button>
                    <div class="error">{{ error }}</div>
                </th>
            </tr>
            {% endif %}
        </form>
        {% endif %}
        
        {% if seller %}
        <form id="close" method="POST" action="{% url 'listing' listing.id %}">{% csrf_token %}

            {% if not closed %}
            <tr>
                <th colspan="2"><button type="submit" name="button" value="Close">Close Auction</button></th>
            </tr>
            {% endif %}

        </form>
        {% endif %}
        
    </table>

    <div></div>

    
    {% if closed and not winner %}
    <table>
        <tr>
            <th colspan="2" class="error">This listing has been closed by the seller</th>
        </tr>
    </table>
    {% elif closed and winner %}
    <table>
        <tr>
            <th colspan="2" class="error">You have won this auction!</th>
        </tr>
    </table>
    {% endif %}

    {% if not closed %}
    <table>
        <tr>
            <th colspan="2">Submit a bid for this item</th>
        </tr>
        {% if seller %}
        <tr>
            <td colspan="2" class="error">As seller, you cannot bid on this item</td>
        </tr>
        {% endif %}

        {% if not seller %}
        <form class="bid" method="POST" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            {{ bid_form }}
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit Bid">
                <div class="error">{{ error }}</div>
                <div class="error">{{ bid_error }}</div>
            </td>
        </tr>
        </form>
        {% endif %}
    </table>

    <div></div>
    <table>
        <tr>
            <th colspan="2">Leave a comment below</th>
        </tr>

        <form id="comment" method="POST" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
        <tr>
            <td>{{ comment_form.comment | attr:"rows:4" | attr:"cols:60" }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button name="button" form="comment" type="submit" value="comment">Leave Comment</button>
                <div class="error">{{ error }}</div>
            </td>
        </tr>
        </form>
    </table>
    {% endif %}

    <div></div>

    <table>
        <tr>
            <th colspan="2">Comments</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <th>{{ comment.author }}</th> 
            <td colspan="2">
                {{ comment.comment }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}