{% extends "auctions/layout.html" %}
{% load widget_tweaks %}

{% block body %}
    <table>
        <tr>
            <th colspan="2"><h2>{{ listing.item }}</h2></th>
        </tr>
        <tr>
            <th colspan="2"><img class='img' src="{{ listing.img_url }}"></th>
        </tr>
        <tr>
            <th>Description: </th>
            <td>{{ listing.description }}</td>
        </tr>
        <tr>
            <th>Starting Bid: </th>
            <td>${{ listing.starting_bid | floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Current Bid: </th>
            <td>${{ listing.current_bid | floatformat:2 }}</td>
        </tr>
        <tr>
            <th>Category: </th>
            <td>{{ listing.category }}</td>
        </tr>

        <form id="watch" method="POST" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
        <tr>
            <th colspan="2"><button type="submit" name="button" form="watch" value="Watchlist"><b>Add to Watchlist</b></button></th>
        </tr>
        </form>
    </table>

    <div></div>

    <table>
        <tr>
            <th colspan="2">Submit a bid for this item</th>
        </tr>
        <form class="bid" method="POST" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
            {{ bid_form }}
        <tr>
            <td colspan="2">
                <input type="submit" value="Submit Bid">
                <div class="error">{{ error }}</div>
            </td>
        </tr>
        </form>

    </table>
    <div></div>
    <table>
        <tr>
            <th colspan="2">Leave a comment below</th>
        </tr>

        <form id="comment" method="POST" action="{% url 'listing' listing.id %}">
            {% csrf_token %}
        <tr>
            <td>{{ comment_form.comment | attr:"rows:4" | attr:"cols:60" }}</td>
        </tr>
        <tr>
            <td colspan="2">
                <button name="button" form="comment" type="submit" value="comment">Leave Comment</button>
            </td>
        </tr>
        </form>
    </table>

    <div></div>

    <table>
        <tr>
            <th colspan="2">Comments</th>
        </tr>
        {% for comment in comments %}
        <tr>
            <th>{{ comment.author }}</th> 
            <td colspan="2">
                {{ comment.comment }}
            </td>
        </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}