{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <table>
        {% for listing in watchlist %}
        <tr>
            <td><h3><a href="{% url 'listing' listing.id %}">{{ listing.listing }}</a></h3></td>
            <td><h5>Listing Price: ${{ listing.listing.starting_bid | floatformat:2 }}</h5></td>
            <td><h5>Current Bid: ${{ listing.listing.current_bid | floatformat:2 }}</h5></td>
        </tr>
        <tr>
            <td><img src="{{ listing.listing.img_url }}"></td>
            <td colspan="2">{{ listing.listing.description }}</td>
        </tr>
        {% endfor %}
    </table>
    <!-- debug: {{ watchlist }} -->
{% endblock %}