body {
    padding-top: 85px;
    padding-left:30px;
    background-color: lightgray;
}

#body-div {
    padding: 0% !important;
    max-width: 1200px;
}

#body-left-div, #body-right-div, #mid-div, #bot-div {
    padding:0% !important;
    height: fit-content !important;
    max-width: 800px;
}
#top-div {
    padding:0% !important;
    border: none !important;
    height: 400px !important;
    max-width: 800px;
}
#left-div {
    width: 400px;
    height: auto;
    /* border-width: 3px !important;
    border-color: green !important;
    border-style: solid; */
    padding:0% !important;
    background-color: whitesmoke;
}
#right-div {
    width: 400px;
    height: auto;
    /* border-width: 3px !important;
    border-color: orangered !important;
    border-style: solid; */
    padding:0% !important;
    background-color: whitesmoke;
    text-align: center;
}

#watched-heading {
    margin-top: 40px;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 8px;
    font-weight: 600;
    font-size: x-large;
    justify-content: center;
}

#watched-listings {
    width: 100%;
    padding: 0% !important;
    margin-top: 10px;
    margin-bottom: 40px;
}

#com-title {
    width: inherit;
    border: 1px;
    border-style: solid;
    border-color: black;
    font-weight: 700;
}
#list-price, #cur-price {
    padding: 0% !important;
}

#list-price div, #cur-price div {
    width: 50%;
    border: none !important;
}
#text {
    font-size: large;
    font-weight: 500;
    border: none !important;
}
#price {
    font-size: 25px;
    font-weight: 600;
    border: none !important;
}
#comment-div {
    max-width: 800px !important;
    /* border-width: 3px !important;
    border-color: green !important;
    border-style: solid; */
    padding:0% !important;
    background-color: whitesmoke;
}
#auth-div {
    width:200px;
    /* border-width: 3px !important;
    border-color: orangered !important; */
    /* border-style: solid; */
}
#com-div {
    width: 100%;
    /* border-width: 3px !important;
    border-color: blue!important;
    border-style: solid; */
}
#tit-cat {
    text-align: left !important;
}
#tit-cat, #bid-cont, #watch-cont {
    padding:0% !important;
    /* border-width: 3px !important;
    border-color: blue!important;
    border-style: solid; */
}
#watch-cont {
    height: 100%;
}
#watch-cont button {
    height: 60px;
    width: 200px;
}

#list-desc {
    font-size: large;
    padding: 15px;
    width: 100%;
}

#item {
    font-size: 30px;
    font-weight: 500;
}
#category {
    font-size:20px;
    font-weight: 500;
    color: grey;
}

#body-left-div div {
    border-width: 1px !important;
    border-color: black !important;
    border-style: solid;
}

.nav li a{color:white !important;}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}

#mini-card {
    position: relative;
    width: 250px;
    height: 320px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px;
}

#mini-card img {
    height: 50%;
    width: 100%;
}

#mini-card-title {
    text-align: left;
    font-size: 20px;
}

.card-body {
    overflow: hidden;
}

.card-link {
    position: absolute; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

.card-footer {
    font-weight: bold;
}

.mini-card-footer {
    font-weight: bold;
}

form {
    vertical-align: top;
    width: auto;
}

.error {
    font-weight: bold;
    color: red;
}

#id_item, #id_starting_bid, #id_description, #id_img_url, #id_category {
    width: 100%;
    border-radius: 5px;
    background-color: lightgray;
}

button {
    border-radius: 5px;
    border: 3px solid black;
    height: 33px;
    width: 150px;
    background-color: lightgray;
    font-weight: bold;
}

img {
    float: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img {
    width: 100%;
    height: 100%;
}